<form
  class="flex-column"
  (ngSubmit)="onRegisterSubmit($event, registerForm)"
  #registerForm="ngForm"
>
  <h2>Register</h2>
  <label>First Name:</label>
  <input type="text" name="firstName" ngModel #formUsername="ngModel" />
  <label>Last Name:</label>
  <input type="text" name="lastName" ngModel #formUsername="ngModel" />
  <label>Username:</label>
  <input type="text" name="userName" ngModel #formUsername="ngModel" />
  <label>Email:</label>
  <input type="text" name="email" ngModel #formUsername="ngModel" />
  <label>Password</label>
  <input type="password" name="password" ngModel />
  <storybook-button type="submit" label="Register"></storybook-button>
</form>
